# ESILV --- Python for Data Analysis --- Devoir 2021
## 10 janvier 2021 --- IBO A5 --- Promo 2021

<hr>

#### Clément Jaccarino et Axel Joly

# <hr>
# <hr>

# Dataset : Faillite d'entreprises polonaises Dataset
## Du site de dépôt de l'UCI Machine Learning

<hr>

#### Créé par Sebastian Tomczak de l'École polytechnique de Wroclaw de Pologne. Les donateurs du dataset sont Sebastian Tomczak, Maciej Zieba et Jakub M. Tomczak. Téléphone : (+48) 7 13 20 44 53. Un article pertinent utilisant ce dataset : "Ensemble boosted trees with synthetic features generation in application to bankruptcy prediction" écrit en 2016 par les donateurs ci-dessus.

<hr>

##### Le dataset concerne la prédiction de la faillite des entreprises polonaises. Les données ont été collectées à partir de l'Emerging Markets Information Service (EMIS), qui est une base de données contenant des informations sur les marchés émergents du monde entier. Les sociétés en faillite ont été analysées sur la période 2000-2012, tandis que les sociétés toujours en activité ont été évaluées de 2007 à 2013.

Sur la base des données collectées, cinq cas de classification ont été distingués, qui dépendent de la période de prévision :
- 1ère année: les données contiennent les taux financiers de la 1ère année de la période de prévision et le class label correspondant qui indique l'état de faillite après 5 ans. Les données contiennent 7027 instances (états financiers), 271 représentent des entreprises en faillite, 6756 entreprises qui n'ont pas fait faillite au cours de la période de prévision.
- 2ème année: les données contiennent les taux financiers à partir de la 2e année de la période de prévision et le class label correspondant qui indique l'état de faillite après 4 ans. Les données contiennent 10 173 instances (états financiers), 400 représentent des entreprises en faillite, 9773 entreprises qui n'ont pas fait faillite au cours de la période de prévision.
- 3ème année: les données contiennent les taux financiers à partir de la 3e année de la période de prévision et le class label correspondant qui indique l'état de faillite après 3 ans. Les données contiennent 10 503 instances (états financiers), 495 représentent des entreprises en faillite, 1 0008 entreprises qui n'ont pas fait faillite au cours de la période de prévision.
- 4ème année: les données contiennent les taux financiers à partir de la 4e année de la période de prévision et le class label correspondant qui indique le statut de faillite après 2 ans. Les données contiennent 9792 instances (états financiers), 515 représentent des entreprises en faillite, 9277 entreprises qui n'ont pas fait faillite au cours de la période de prévision.
- 5ème année: les données contiennent les taux financiers à partir de la 5e année de la période de prévision et le class label correspondant qui indique le statut de faillite après 1 an. Les données contiennent 5910 instances (états financiers), 410 représentent des entreprises en faillite, 5 500 entreprises qui n'ont pas fait faillite au cours de la période de prévision.

In [2]:
# Le dataset se télécharge en tant que dossier compressé comprenant 5 fichiers sous format ARFF
# Le format ARFF (Attribute-Relation File Format) décrit une liste d'instances 
# partageant un ensemble d'attributs en ASCII.

In [3]:
# On trouve des outils permettant de basculer du format ARFF vers CSV.
# L'outil que l'on a utilisé : ARFF2CSV (https://pulipulichen.github.io/jieba-js/weka/arff2csv/)

In [27]:
# Importation des 5 fichiers CSV et première visualisation

import warnings
warnings.filterwarnings("ignore")
import pandas as pd

type_colonne ={"hrmn" : str }
df_og_1 = pd.read_csv("final_project_data/csv_result-1year.csv")
df_og_2 = pd.read_csv("final_project_data/csv_result-2year.csv")
df_og_3 = pd.read_csv("final_project_data/csv_result-3year.csv")
df_og_4 = pd.read_csv("final_project_data/csv_result-4year.csv")
df_og_5 = pd.read_csv("final_project_data/csv_result-5year.csv")
df_og_5

,id,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,1,0.088238,0.55472,0.01134,1.0205,-66.52,0.34204,0.10949,0.57752,1.0881,...,0.080955,0.27543,0.91905,0.002024,7.2711,4.7343,142.760,2.5568,3.2597,0
1,2,-0.006202,0.48465,0.23298,1.5998,6.1825,0,-0.006202,1.0634,1.2757,...,-0.028591,-0.012035,1.00470,0.15222,6.0911,3.2749,111.140,3.2841,3.37,0
2,3,0.13024,0.22142,0.57751,3.6082,120.04,0.18764,0.16212,3.059,1.1415,...,0.123960,0.19229,0.87604,0,8.7934,2.987,71.531,5.1027,5.6188,0
3,4,-0.089951,0.887,0.26927,1.5222,-55.992,-0.073957,-0.089951,0.1274,1.2754,...,0.418840,-0.79602,0.59074,2.8787,7.6524,3.3302,147.560,2.4735,5.9299,0
4,5,0.048179,0.55041,0.10765,1.2437,-22.959,0,0.05928,0.81682,1.515,...,0.240400,0.10716,0.77048,0.13938,10.118,4.095,106.430,3.4294,3.3622,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5905,5906,0.012898,0.70621,0.038857,1.1722,-18.907,0,0.013981,0.416,1.6768,...,0.020169,0.043904,1.01220,1.2594,13.472,12.432,49.117,7.4313,2.2799,1
5906,5907,-0.57805,0.96702,-0.80085,0.16576,-67.365,-0.57805,-0.57805,-0.40334,0.93979,...,-0.064073,1.482,1.06410,-0.018084,110.72,44.759,81.220,4.494,5.1305,1
5907,5908,-0.17905,1.2553,-0.27599,0.74554,-120.44,-0.17905,-0.15493,-0.26018,1.1749,...,0.148880,0.54824,0.85112,-0.52243,9.8526,3.4892,207.870,1.7559,9.9527,1
5908,5909,-0.10886,0.74394,0.015449,1.0878,-17.003,-0.10886,-0.10918,0.12531,0.84516,...,-0.183200,-1.1677,1.18320,6.0924,13.886,6.0769,83.122,4.3911,0.95575,1
5909,5910,-0.10537,0.53629,-0.045578,0.91478,-56.068,-0.10537,-0.10994,0.8646,0.9504,...,-0.052186,-0.22725,1.05220,0.003196,7.7332,4.7174,136.850,2.6672,2.7927,1

In [28]:
# Concaténation des DataFrames tout en gardant les caractéristiques de chaque DataFrame (X année)

dataframes = [df_og_1, df_og_2, df_og_3, df_og_4, df_og_5]

conc_dataframes  = pd.concat(dataframes, keys=["1ère année", "2ème année", "3ème année", "4ème année", "5ème année"])
conc_dataframes

                   id     Attr1    Attr2      Attr3    Attr4    Attr5  \
1ère année 0        1   0.20055  0.37951    0.39641   2.0472   32.351
           1        2   0.20912  0.49988    0.47225   1.9447   14.786
           2        3   0.24866  0.69592    0.26713   1.5548  -1.1523
           3        4  0.081483  0.30734    0.45879   2.4928   51.952
           4        5   0.18732  0.61323     0.2296   1.4063  -7.3128
...               ...       ...      ...        ...      ...      ...
5ème année 5905  5906  0.012898  0.70621   0.038857   1.1722  -18.907
           5906  5907  -0.57805  0.96702   -0.80085  0.16576  -67.365
           5907  5908  -0.17905   1.2553   -0.27599  0.74554  -120.44
           5908  5909  -0.10886  0.74394   0.015449   1.0878  -17.003
           5909  5910  -0.10537  0.53629  -0.045578  0.91478  -56.068

                    Attr6     Attr7     Attr8    Attr9  ...    Attr56  \
1ère année 0      0.38825   0.24976    1.3305   1.1389  ...   0.12196
           1            0   0.25834   0.99601   1.6996  ...    0.1213
           2            0   0.30906   0.43695    1.309  ...   0.24114
           3      0.14988  0.092704    1.8661   1.0571  ...  0.054015
           4      0.18732   0.18732    0.6307   1.1559  ...   0.13485
...                   ...       ...       ...      ...  ...       ...
5ème année 5905         0  0.013981     0.416   1.6768  ...  0.020169
           5906  -0.57805  -0.57805  -0.40334  0.93979  ... -0.064073
           5907  -0.17905  -0.15493  -0.26018   1.1749  ...   0.14888
           5908  -0.10886  -0.10918   0.12531  0.84516  ...   -0.1832
           5909  -0.10537  -0.10994    0.8646   0.9504  ... -0.052186

                   Attr57   Attr58     Attr59  Attr60  Attr61  Attr62  Attr63  \
1ère année 0      0.39718  0.87804   0.001924   8.416  5.1372  82.658  4.4158
           1      0.42002    0.853          0  4.1486  3.2732  107.35     3.4
           2      0.81774  0.76599    0.69484  4.9909   3.951  134.27  2.7185
           3      0.14207  0.94598          0  4.5746  3.6147  86.435  4.2228
           4      0.48431  0.86515    0.12444  6.3985  4.3158  127.21  2.8692
...                   ...      ...        ...     ...     ...     ...     ...
5ème année 5905  0.043904   1.0122     1.2594  13.472  12.432  49.117  7.4313
           5906     1.482   1.0641  -0.018084  110.72  44.759   81.22   4.494
           5907   0.54824  0.85112   -0.52243  9.8526  3.4892  207.87  1.7559
           5908   -1.1677   1.1832     6.0924  13.886  6.0769  83.122  4.3911
           5909  -0.22725   1.0522   0.003196  7.7332  4.7174  136.85  2.6672

                  Attr64 class
1ère année 0      7.4277     0
           1      60.987     0
           2      5.2078     0
           3      5.5497     0
           4       7.898     0
...                  ...   ...
5ème année 5905   2.2799     1
           5906   5.1305     1
           5907   9.9527     1
           5908  0.95575     1
           5909   2.7927     1

[43405 rows x 66 columns]

In [29]:
# Vérification que la concaténation a bien marchée

nb_lignes, nb_col = conc_dataframes.shape
print(nb_lignes)
print(nb_lignes == (7027 + 10173 + 10503 + 9792 + 5910))
print(nb_col)

43405
True
66

In [30]:
# Visualisation des colonnes originales

conc_dataframes.columns

Index(['id', 'Attr1', 'Attr2', 'Attr3', 'Attr4', 'Attr5', 'Attr6', 'Attr7',
       'Attr8', 'Attr9', 'Attr10', 'Attr11', 'Attr12', 'Attr13', 'Attr14',
       'Attr15', 'Attr16', 'Attr17', 'Attr18', 'Attr19', 'Attr20', 'Attr21',
       'Attr22', 'Attr23', 'Attr24', 'Attr25', 'Attr26', 'Attr27', 'Attr28',
       'Attr29', 'Attr30', 'Attr31', 'Attr32', 'Attr33', 'Attr34', 'Attr35',
       'Attr36', 'Attr37', 'Attr38', 'Attr39', 'Attr40', 'Attr41', 'Attr42',
       'Attr43', 'Attr44', 'Attr45', 'Attr46', 'Attr47', 'Attr48', 'Attr49',
       'Attr50', 'Attr51', 'Attr52', 'Attr53', 'Attr54', 'Attr55', 'Attr56',
       'Attr57', 'Attr58', 'Attr59', 'Attr60', 'Attr61', 'Attr62', 'Attr63',
       'Attr64', 'class'],
      dtype='object')

In [31]:
# Nouvelles colonnes d'après lecture du descriptif de l'UCI et confirmation du changement effectué

nouvelles_colonnes = [
    "id",
    "net profit / total assets",
    "total liabilities / total assets",
    "working capital / total assets",
    "current assets / short-term liabilities",
    "[(cash + short-term securities + receivables - short-term liabilities) / (operating expenses - depreciation)] * 365",
    "retained earnings / total assets",
    "EBIT / total assets",
    "book value of equity / total liabilities",
    "sales / total assets",
    "equity / total assets",
    "(gross profit + extraordinary items + financial expenses) / total assets",
    "gross profit / short-term liabilities",
    "(gross profit + depreciation) / sales",
    "(gross profit + interest) / total assets",
    "(total liabilities * 365) / (gross profit + depreciation)",
    "(gross profit + depreciation) / total liabilities",
    "total assets / total liabilities",
    "gross profit / total assets",
    "gross profit / sales",
    "(inventory * 365) / sales",
    "sales (n) / sales (n-1)",
    "profit on operating activities / total assets",
    "net profit / sales",
    "gross profit (in 3 years) / total assets",
    "(equity - share capital) / total assets",
    "(net profit + depreciation) / total liabilities",
    "profit on operating activities / financial expenses",
    "working capital / fixed assets",
    "logarithm of total assets",
    "(total liabilities - cash) / sales",
    "(gross profit + interest) / sales",
    "(current liabilities * 365) / cost of products sold",
    "operating expenses / short-term liabilities",
    "operating expenses / total liabilities",
    "profit on sales / total assets",
    "total sales / total assets",
    "(current assets - inventories) / long-term liabilities",
    "constant capital / total assets",
    "profit on sales / sales",
    "(current assets - inventory - receivables) / short-term liabilities",
    "total liabilities / ((profit on operating activities + depreciation) * (12/365))",
    "profit on operating activities / sales",
    "rotation receivables + inventory turnover in days",
    "(receivables * 365) / sales",
    "net profit / inventory",
    "(current assets - inventory) / short-term liabilities",
    "(inventory * 365) / cost of products sold",
    "EBITDA (profit on operating activities - depreciation) / total assets",
    "EBITDA (profit on operating activities - depreciation) / sales",
    "current assets / total liabilities",
    "short-term liabilities / total assets",
    "(short-term liabilities * 365) / cost of products sold)",
    "equity / fixed assets",
    "constant capital / fixed assets",
    "working capital",
    "(sales - cost of products sold) / sales",
    "(current assets - inventory - short-term liabilities) / (sales - gross profit - depreciation)",
    "total costs /total sales",
    "long-term liabilities / equity",
    "sales / inventory",
    "sales / receivables",
    "(short-term liabilities *365) / sales",
    "sales / short-term liabilities",
    "sales / fixed assets",
    "Class"
]

conc_dataframes.columns = nouvelles_colonnes
conc_dataframes.head()

              id net profit / total assets total liabilities / total assets  \
1ère année 0   1                   0.20055                          0.37951
           1   2                   0.20912                          0.49988
           2   3                   0.24866                          0.69592
           3   4                  0.081483                          0.30734
           4   5                   0.18732                          0.61323

             working capital / total assets  \
1ère année 0                        0.39641
           1                        0.47225
           2                        0.26713
           3                        0.45879
           4                         0.2296

             current assets / short-term liabilities  \
1ère année 0                                  2.0472
           1                                  1.9447
           2                                  1.5548
           3                                  2.4928
           4                                  1.4063

             [(cash + short-term securities + receivables - short-term liabilities) / (operating expenses - depreciation)] * 365  \
1ère année 0                                             32.351
           1                                             14.786
           2                                            -1.1523
           3                                             51.952
           4                                            -7.3128

             retained earnings / total assets EBIT / total assets  \
1ère année 0                          0.38825             0.24976
           1                                0             0.25834
           2                                0             0.30906
           3                          0.14988            0.092704
           4                          0.18732             0.18732

             book value of equity / total liabilities sales / total assets  \
1ère année 0                                   1.3305               1.1389
           1                                  0.99601               1.6996
           2                                  0.43695                1.309
           3                                   1.8661               1.0571
           4                                   0.6307               1.1559

              ... (sales - cost of products sold) / sales  \
1ère année 0  ...                                 0.12196
           1  ...                                  0.1213
           2  ...                                 0.24114
           3  ...                                0.054015
           4  ...                                 0.13485

             (current assets - inventory - short-term liabilities) / (sales - gross profit - depreciation)  \
1ère année 0                                            0.39718
           1                                            0.42002
           2                                            0.81774
           3                                            0.14207
           4                                            0.48431

             total costs /total sales long-term liabilities / equity  \
1ère année 0                  0.87804                       0.001924
           1                    0.853                              0
           2                  0.76599                        0.69484
           3                  0.94598                              0
           4                  0.86515                        0.12444

             sales / inventory sales / receivables  \
1ère année 0             8.416              5.1372
           1            4.1486              3.2732
           2            4.9909               3.951
           3            4.5746              3.6147
           4            6.3985              4.3158

             (short-term liabilities *365) / sales  \
1ère année 0                                82.658
           1                                107.35
           2                                134.27
           3                                86.435
           4                                127.21

             sales / short-term liabilities sales / fixed assets Class
1ère année 0                         4.4158               7.4277     0
           1                            3.4               60.987     0
           2                         2.7185               5.2078     0
           3                         4.2228               5.5497     0
           4                         2.8692                7.898     0

[5 rows x 66 columns]

In [32]:
# Visualisation des types de chaque attribut

conc_dataframes.dtypes

id                                          int64
net profit / total assets                  object
total liabilities / total assets           object
working capital / total assets             object
current assets / short-term liabilities    object
                                            ...
sales / receivables                        object
(short-term liabilities *365) / sales      object
sales / short-term liabilities             object
sales / fixed assets                       object
Class                                       int64
Length: 66, dtype: object

In [34]:
# Tous les attributs étant de type numéric (flottant) d'après l'en-tête de chaque fichier ARFF
# Il faut modifier cela. Mais avant, vérifions s'il y a des NaNs

conc_dataframes.isnull().values.any()

False

In [39]:
# Modification du type de chaque attribut vers float

conc_dataframes = conc_dataframes.apply(pd.to_numeric, errors='coerce')
conc_dataframes.dtypes

id                                           int64
net profit / total assets                  float64
total liabilities / total assets           float64
working capital / total assets             float64
current assets / short-term liabilities    float64
                                            ...
sales / receivables                        float64
(short-term liabilities *365) / sales      float64
sales / short-term liabilities             float64
sales / fixed assets                       float64
Class                                        int64
Length: 66, dtype: object